body{
    font-size: 16px;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* typography */

h1, h3{
    margin: 0;
}

h1{
    color: whitesmoke;
    font-size: 2.25rem;
}

h2{
    color: #451c7a;
    font-size: 1.75rem;
    margin-top: 0;
}

.subheading {
    display: block;
    font-size: 1.25rem; 
    color: #d0aaff;
}

p{
    line-height: 1.5;
}

/* buttons */

.btn{
    font-size: 1.125rem; 
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 1em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    border-radius: 4.6px;
}

.btn-dark{
    background-color: #5f29a3;
    color: whitesmoke;
}

.btn-mid{
    background-color: #f0e0ff;
    color: #5f29a3;
}

.btn-light{
    background-color: whitesmoke;
    color: #5f29a3;
}

.btn:hover, .btn:active{
    background-color: #f3e885;
    color: #2b283a;
}
/* links */

a{
    color: #ef5839;
    text-decoration: underline dotted; 
}

a:hover, a:active{
    color: #d4b44c;
}

/* layout */

header, 
section, 
footer{
    padding: 2.875em 0;
}

header, .section-two{
    background-color: #5f29a3;
}

.section-two{
    color: whitesmoke;
}

.container{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.main-image{
    width: 100%;
    max-width: 640px;
    display: block;
    margin: 0 auto 2em;
}

.section-two-image-container{
    display: flex;
    justify-content: space-between;
}

.feature-image{
    width: 48.8%;
    border-radius: 4.6px;
}

footer{
    text-align: center;
    color: #5f29a3;
}


