body{
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: #2b283a;
   margin: 0;
}

header{
    background-color: #5f29a3;
    padding: 45px 0px;
}

h1{
    color: whitesmoke;
    font-size: 36px;
    margin: 0;
}

h2{
    margin-top: 0;
}

h3{
    color: #d0aaff;
    font-size: 20px;
    margin: 0;
}
a{
    color: #ef5839;
    text-decoration: underline dotted;
}

a:hover, a:active{
    color: #d4b44c;
}

section{
   padding: 45px 0;
}

.container{
    width: 620px;
    margin: 0 auto;
}

.main-img{
   width: 100%;
}
 

 
 


