body {
    margin: 100px;
    background-color: #1F2937;
    color: white;

}
span{
    color: #10B981;
}

h1 {
    font-family: karala, sans-serif;
    font-weight: bold;
    font-size: 40px;
}
p {
    font-family: Inter, sans-serif;
    font-weight: regular;
    font-size: 20px;
    margin-top: -20px;
    color: #D5D4D8;
}
button{
    background-color: #10B981;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
}
.passwords{
    display: flex;
    padding-right: 25px;
}
.password{
    width: 212px;
    height: 40px;
    background-color: #273549;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    color: #10B981;
    margin-left: 20px;
}
hr {
    margin-top: 20px;
    border: 0;
    height: 1px;
    background: #273549;
}
