body {
    margin: 0;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
} 

main{
    height: 167px;
    background-image: url(./image/burger.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    color: #FFFFFF;
    padding: 10px 0 0 50px;
}

.menu{
    display: flex;
    justify-content: space-between;
    height: 140px;
    width: 508px;
    margin-top: 50px;
    margin-left: 46px;
    border-bottom: 2px solid #8B8B8B;
}
.menu-1{
    margin-right: 150px;
    width: 200px;
}
.emoji{
    font-size: 80px;
    margin: 0;
}

.menu h2{
    color: #000000;
}
.ingredients{
    color: #8B8B8B;
}
p, h2, h1{
    font-family: 'Smythe';
    font-weight: 400;
}
.add-btn{
    height: 50px;
    width: 50px;
    font-size: 25px;
    padding-top: 0;
    display: flex;
    padding: auto;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #DEDEDE;
    cursor: pointer;
    border-radius: 100%;
}

.order{
    width: 508px;
    height: 319px;
    margin: 46px;
}

.order h2{
    text-align: center;
}

.inner-order-list{
    display: flex;
    justify-content: space-between;
}

.order-list{
    border-bottom: 2px solid #393333;
}

.total{
    display: flex;
    justify-content: space-between;
}

.remove{
    color: #8B8B8B;
    margin-right: 300px;
    cursor: pointer;
}

.order-btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    height: 60px;
    width: 508px;
    border: none;
    background-color: #16DB99;
    border-radius: 3px;
    color: #FFFFFF;
}

.modal{
    height: 472px;
    width: 424px;
    border: 1px solid #757575;
    border-radius: 3.9px;
    box-shadow: 5.19px 5.19px 255.44px 0px #00000080;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: none;
}

.modal h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

input{
    width: 375px;
    height: 61px;
    margin-top: 20px;
    color: #757575;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-left: 15px;
}

.pay-btn{
    width: 375px;
    height: 61px;
    margin-top: 45px;
    border: none;
    background-color: #16DB99;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.thanks-msg{
    width: 504px;
    height: 120px;
    background-color: #ECFDF5;
    color: #065F46;
    margin: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Smythe';
    font-size: 25px;
}