body {
    margin: 0;
    font-family: 'Smythe';
    font-weight: 400;
} 

main{
    height: 170px;
    background-image: url(./image/burger.jpg);
    background-size: contain;
    color: #FFFFFF;
    padding: 10px 0 0 50px;
}

.menu{
    display: flex;
    margin: 50px;
    border-bottom: 2px solid #8B8B8B;
    gap: 20px;
}

.emoji{
    font-size: 80px;
    margin: 0;
    /* border: 2px solid black; */
}

.menu-1{
    /* border: 2px solid red; */
}
.menu h2{
    color: #000000;
}
p{
    color: #8B8B8B;
}

.add-btn{
    font-size: 40px;
    text-align: center;
    border: 1.5px solid #DEDEDE;
    padding: 10px 25px;
    margin: 55px 25px 55px 90px;
    border-radius: 100%;
}