body {
    margin: 0;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
} 

main{
    height: 167px;
    background-image: url(./image/burger.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    color: #FFFFFF;
    padding: 10px 0 0 50px;
}

.menu{
    display: flex;
    justify-content: space-between;
    height: 140px;
    width: 508px;
    margin-top: 50px;
    margin-left: 46px;
    border-bottom: 2px solid #8B8B8B;
}
.menu-1{
    margin-right: 150px;
    width: 200px;
}
.emoji{
    font-size: 80px;
    margin: 0;
}

.menu h2{
    color: #000000;
}
.ingredients{
    color: #8B8B8B;
}
p, h2, h1{
    font-family: 'Smythe';
    font-weight: 400;
}
.add-btn{
    height: 50px;
    width: 50px;
    font-size: 25px;
    padding-top: 0;
    display: flex;
    padding: auto;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #DEDEDE;
    cursor: pointer;
    border-radius: 100%;
}

.order{
    width: 508px;
    height: 319px;
    margin: 46px;
}

.order h2{
    text-align: center;
}

.inner-order-list{
    display: flex;
    justify-content: space-between;
}

.order-list{
    border-bottom: 2px solid #393333;
}

.total{
    display: flex;
    justify-content: space-between;
}

.remove{
    color: #8B8B8B;
    margin-right: 300px;
    cursor: pointer;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    height: 60px;
    width: 508px;
    border: none;
    background-color: #16DB99;
    border-radius: 3px;
    color: #FFFFFF;
}